$DEBUG: false;
$dark-peach: #986f53;
$light-peach: #eed9bc;
$med-peach: #bd9a7a;

@import "background/*.png";
@include all-background-sprites;

@mixin shadow
{
  -moz-box-shadow: 0.25em 0.58em 0.58em #444;
  -webkit-box-shadow: 0.25em 0.58em 0.58em #444;
  box-shadow: 0.25em 0.58em 0.58em #444;
}

@mixin gradient
{
  background: -webkit-linear-gradient(bottom, $light-peach 10%, $dark-peach 80%);
  background: -moz-linear-gradient(bottom, $light-peach 10%, $dark-peach 80%);
  background: -o-linear-gradient(bottom, $light-peach 10%, $dark-peach 80%);
  background: -ms-linear-gradient(bottom, $light-peach 10%, $dark-peach 80%);
  background: linear-gradient(bottom, $light-peach 10%, $dark-peach 80%);
}

@mixin fade-visible
{
  -webkit-transition-property:opacity, visibility;
  -webkit-transition-duration:0.5s, 0.5s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

  -moz-transition-property:opacity, visibility;
  -moz-transition-duration:0.5s, 0.5s;
  -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

  -o-transition-property:opacity, visibility;
  -o-transition-duration:0.5s, 0.5s;
  -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out;

  transition-property:opacity, visibility;
  transition-duration:0.5s, 0.5s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}

@mixin border_radius($size)
{
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

@mixin debug($message)
{
  &::before {
    content: $message;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #55d;
    color: white;
  }
}

h1
{
  text-shadow: 0px 1px black;
  text-align: center;
  margin-bottom: 1em;
}

html
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  font-family: 'Fresca', sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
}

#floater
{
  @include shadow;
  background: $med-peach;
  @include gradient;
  @include border_radius(1em);
  color: white;
  padding: 2em;
  margin-top: 3em;
  display: inline-block;

  a { text-decoration: none; }
}

#me { font-size: 2em; }

.icon
{
  width: 32px;
  height: 32px;
}

#page_footer
{
  position: absolute;
  bottom: 1.2em;
  right: 1.2em;

  a {
    @include fade-visible;
    color: white;
    background-color: $med-peach;
    @include border_radius(0.25em);
    text-decoration: none;
    cursor: pointer;
    padding: 0 1em;
    opacity: 0.25;
  }

  a:hover {
    @include fade-visible;
    opacity: 1.0;
  }
}

ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

li
{
  display: inline-block;
  margin: 0 0.5em;
}

@media screen and (min-width: 1920px) {
  @if($DEBUG == true) { body { @include debug('3072'); } }
  html { background: url(/images/bg-3072.jpg) no-repeat center center fixed; }
}

@media screen and (max-width: 1920px) and (min-width: 1024px) {
  @if($DEBUG == true) { body { @include debug('1920'); } }
  html { background: url(/images/bg-1920.jpg) no-repeat center center fixed; }
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
  @if($DEBUG == true) { body { @include debug('1024'); } }
  html { background: url(/images/bg-1024.jpg) no-repeat center center fixed; }
}

// Intended for mobile screens
@media screen and (max-width: 480px) {
  h1 { margin-bottom: 0.5em; margin-top: 0; }
  #floater { padding: 0.8em 1em; }
  li { margin: 0 1em }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  @if($DEBUG == true) { body { @include debug('480'); } }
  html { background: url(/images/bg-480.jpg) no-repeat center center fixed; }
}

@media screen and (max-width: 320px) {
  @if($DEBUG == true) { body { @include debug('320'); } }
  html { background: url(/images/bg-320.jpg) no-repeat center center fixed; }
  #floater { margin-top: 60%; }
}
